.page a, .sides .navigation .container .navbar a {
  font-weight: 500;
  color: #bdbac2;
}

.page a:hover, .sides .navigation .container .navbar a:hover {
  color: #007bff;
  text-decoration: none;
}

.dropdown-item:active {
  background-color: #fbfbfb !important;
  color: #fff;
}

.dropdown-item:visited {
  background-color: #fbfbfb !important;
}

.dropdown-item:focus {
  background-color: #fbfbfb !important;
  outline: none;
}

hr {
  border-color: #fbfbfb;
}

.sides .navigation .container .navbar hr {
  width: 200px;
  color: #fbfbfb;
  margin: 30px 0;
}

.popup .form .desc, main .header .head p, main .header .head .progInfo i,
main .header .head .progInfo span, main #projects .page-body .project-card .card-body p, main #projects .page-body .project-card .card-body .card-info i,
main #projects .page-body .project-card .card-body .card-info span, main #tasks .page-body .task-list .task-stage .task-card p, main #tasks .page-body .task-list .task-stage .task-card i,
main #tasks .page-body .task-list .task-stage .task-card span, main #members .page-body .member-card .member-info p, #teams .page-body .card-body p, #teams .page-body .card-body .card-info i,
#teams .page-body .card-body .card-info span {
  color: #bdbac2;
}

main #projects .page-body .project-card, main #members .page-body .member-card, #files .page-body .file-card, #activity .page-body .act-card, #checklist .page-body .file-card, #checklist #note .page-body .note-card, #teams .page-body .team-card, main .acc-form, .sign .sign-cart, .sign .create-link {
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.03);
          box-shadow: 0 0 30px rgba(0, 0, 0, 0.03);
  margin-top: 30px;
  border-radius: 7px;
  background-color: #fff;
}

main #projects .page-body .project-card:hover, main #members .page-body .member-card:hover, #checklist #note .page-body .note-card:hover, #teams .page-body .team-card:hover {
  top: -10px;
  position: relative;
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 30px rgba(0, 0, 0, 0.05);
}

body {
  background-color: #fbfbfb;
  font-weight: 700;
  line-height: 1.7;
}

* {
  font-family: "Lato", sans-serif;
}

.form-control {
  background: #f5f5f5;
  color: #bdbac2;
  border: none;
  font-size: 16px;
  font-weight: 500;
  border-radius: 6px;
}

.form-control:focus {
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  background: #f5f5f5;
}

.click-title:hover {
  color: #007bff;
}

.page {
  width: 850px;
  margin: auto;
  display: none;
}

.page .page-title a:hover {
  background-color: #fbfbfb;
}

.page .page-title a i {
  text-align: center;
  background-color: #f5f5f5;
  height: 50px;
  color: #bdbac2;
  width: 50px;
  border: 2px solid #fbfbfb;
  border-radius: 100%;
  line-height: 48px;
}

.filterForm {
  color: #bdbac2;
  position: relative;
  width: 200px;
}

.filterForm .filter {
  background-color: #f5f5f5;
  border: none;
  padding-left: 50px;
}

.filterForm .filterBtn {
  position: absolute;
  top: 5px;
  left: 4px;
  color: #bdbac2;
}

.filterForm .filterBtn:focus {
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.upload label {
  width: 100%;
}

.upload label input {
  display: none;
}

.upload label span {
  display: block;
  padding: 30px;
  background: #fff;
  color: #bdbac2;
  font-weight: 500;
  text-align: center;
  border: 1px solid #efebeb;
  border-radius: 6px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.upload label span:hover {
  background-color: #f5f5f5;
}

.avatars {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  list-style: none;
}

.avatars li {
  position: relative;
  margin-left: -10px;
}

.avatars li img {
  width: 50px;
  border: 2px solid #fbfbfb;
  border-radius: 100%;
}

.avatars li i {
  text-align: center;
  line-height: 48px;
  background-color: #f5f5f5;
  height: 50px;
  color: #bdbac2;
  width: 50px;
  border: 2px solid #fbfbfb;
  border-radius: 100%;
}

.avatars li .count {
  color: #bdbac2;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

p.desc {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.curColor {
  color: #007bff;
}

input::-webkit-input-placeholder {
  color: #bdbac299 !important;
}

input:-ms-input-placeholder {
  color: #bdbac299 !important;
}

input::-ms-input-placeholder {
  color: #bdbac299 !important;
}

input::placeholder {
  color: #bdbac299 !important;
}

textarea::-webkit-input-placeholder {
  color: #bdbac299 !important;
}

textarea:-ms-input-placeholder {
  color: #bdbac299 !important;
}

textarea::-ms-input-placeholder {
  color: #bdbac299 !important;
}

textarea::placeholder {
  color: #bdbac299 !important;
}

.sides {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  height: 100vh;
}

.sides .navigation {
  width: 260px;
  overflow-y: scroll;
}

.sides .navigation::-webkit-scrollbar {
  width: 0 !important;
}

.sides .navigation .container .navbar {
  width: 260px;
  background-color: #fff;
}

.sides .navigation .container .navbar .logo {
  width: 36px;
}

.sides .navigation .container .navbar .curColor {
  position: absolute;
  top: 11px;
  left: -15px;
  font-size: small;
}

.sides .navigation .container .navbar .project {
  margin-left: 30px;
  position: relative;
}

.sides .navigation .container .navbar .searchForm {
  color: #bdbac2;
  position: relative;
  width: 200px;
}

.sides .navigation .container .navbar .searchForm .search {
  background-color: #f5f5f5;
  border: none;
  padding-left: 50px;
}

.sides .navigation .container .navbar .searchForm .searchBtn {
  position: absolute;
  top: 5px;
  left: 4px;
  color: #bdbac2;
}

.sides .navigation .container .navbar .searchForm .searchBtn:focus {
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.sides .navigation .container .navbar .menuBtn {
  width: 200px;
  padding: 10px 0;
  color: #fff;
}

.sides .navigation .container .navbar .menuBtn:hover {
  color: #fff;
  background-color: #3395ff;
  border: 1px solid #3395ff;
}

.sides .navigation .container .navbar .menuBtn:focus {
  border: 1px solid #3395ff;
}

.sides .navigation .container .navbar .menu {
  display: none;
  position: absolute;
  top: -128px;
  left: 0;
  padding: 8px;
  margin: 5px 0 0;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  width: 160px;
  z-index: -1;
}

.sides .navigation .container .navbar .menu.act {
  display: block;
  z-index: 1;
}

.sides .navigation .container .navbar .menu .menu-list {
  list-style: none;
  padding-left: 0;
}

.sides .navigation .container .navbar .onlineUser {
  position: relative;
}

.sides .navigation .container .navbar .onlineUser img {
  width: 50px;
  border-radius: 100%;
}

.sides .navigation .container .navbar .onlineUser .onlineIcon {
  position: absolute;
  color: #43b581;
  top: 30px;
  left: 40px;
  font-size: small;
}

.sides .navigation .container .navbar .dropdown-menu {
  text-align: center;
}

.sides .navigation .container .navbar .dropdown-menu .dropdown-item {
  border-radius: 5px;
  width: 90%;
  margin: auto;
}

.sides .navigation .container .navbar .dropdown-menu .dropdown-item:focus {
  background: none;
}

.popup {
  padding: 0;
  border-radius: 10px;
}

.popup .form {
  border-radius: 10px;
  margin: auto;
  width: 600px;
  background: #fff;
}

.popup .form label {
  margin-top: 25px;
}

.popup .form .createBtn {
  width: 100%;
  padding: 10px 0;
  color: #fff;
}

.popup .form .createBtn:hover {
  color: #fff;
  background-color: #3395ff;
  border: 1px solid #3395ff;
}

.popup .form .createBtn:focus {
  border: 1px solid #3395ff;
}

.popup .form .popup-head {
  background-color: #fbfbfb;
  position: relative;
  top: 0;
}

.popup .form .custom-control-label::before {
  left: -30px;
  top: -30px;
  height: 18px;
  width: 34px;
}

.popup .form .custom-control-label::after {
  top: -30px;
  left: -27px;
  width: 17px;
  height: 17px;
}

.popup .form .warning {
  border-radius: 10px;
  padding: 10px;
  background-color: #fbfbfb;
}

.popup .form .warning i {
  color: #c81818;
  padding: 5px;
}

.popup .form .warning span {
  padding: 5px;
}

main {
  width: 1106px;
  height: 100vh;
  padding: 0 106px !important;
  overflow-y: auto;
  overflow-x: hidden;
  margin: auto;
  margin-top: 0;
  margin-bottom: 0;
}

main .header .head .progress {
  height: 5px;
}

main .header .head .progInfo {
  margin-top: 15px;
}

main .header .head .progInfo i,
main .header .head .progInfo span {
  padding: 4px;
}

main .header .head .progInfo .due {
  background-color: #f5f5f5;
  padding: 5px;
  border-radius: 5px;
}

main #projects .page-body {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main #projects .page-body .project-card {
  width: 400px;
  overflow: hidden;
}

main #projects .page-body .project-card .progress {
  height: 5px;
  border-radius: 0;
}

main #projects .page-body .project-card .card-title {
  position: relative;
  height: 63px;
  margin-bottom: 0;
}

main #projects .page-body .project-card .card-title .curColor {
  position: absolute;
  top: 35%;
  left: 7%;
  padding: 5px;
  font-size: small;
}

main #projects .page-body .project-card .card-title .title {
  color: #212529;
  font-weight: 700;
}

main #projects .page-body .project-card .card-title .title span {
  line-height: 74px;
  font-size: 18px;
  margin-left: 62px;
}

main #projects .page-body .project-card .card-title .dropdown {
  position: absolute;
  top: 20%;
  right: 7%;
}

main #projects .page-body .project-card .card-title .dropdown .dropdown-menu {
  position: absolute;
  left: -100px !important;
  text-align: center;
}

main #projects .page-body .project-card .card-title .dropdown .dropdown-menu .dropdown-item {
  border-radius: 5px;
  width: 90%;
  margin: auto;
}

main #projects .page-body .project-card .card-title .dropdown .dropdown-menu .dropdown-item:focus {
  background: none;
}

main #projects .page-body .project-card .card-body .card-info i,
main #projects .page-body .project-card .card-body .card-info span {
  padding: 4px;
}

main #tasks .page-body .task-list {
  list-style: none;
}

main #tasks .page-body .task-list .task-stage {
  margin-top: 30px;
  background-color: #f5f5f5;
  border-radius: 10px;
}

main #tasks .page-body .task-list .task-stage .stage {
  padding: 20px;
}

main #tasks .page-body .task-list .task-stage .task-card {
  overflow: hidden;
  border-radius: 10px;
  background-color: #fff;
  width: 90%;
  margin: auto;
}

main #tasks .page-body .task-list .task-stage .task-card .progress {
  height: 3px;
  border-radius: 0;
}

main #tasks .page-body .task-list .task-stage .task-card .dropdown-menu {
  top: -23px !important;
  left: -114px !important;
  -webkit-transform: none !important;
          transform: none !important;
}

main #tasks .page-body .task-list .task-stage .task-card h6 {
  font-weight: 700;
  color: #212529;
}

main #tasks .page-body .task-list .task-stage .task-card i,
main #tasks .page-body .task-list .task-stage .task-card span {
  padding: 4px;
}

main #members .page-body {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main #members .page-body .member-card {
  position: relative;
  width: 256px;
  height: 306px;
}

main #members .page-body .member-card .del {
  position: absolute;
  top: 3px;
  right: 10px;
}

main #members .page-body .member-card .member-photo img {
  width: 100px;
  border-radius: 100%;
}

main #members .page-body .member-card .member-info h6 {
  font-weight: 700;
  color: #212529;
}

main #members .page-body .member-card .icons {
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

main #members .page-body .member-card .icons li i {
  text-align: center;
  line-height: 40px;
  background-color: #f5f5f5;
  height: 40px;
  color: #bdbac2;
  width: 40px;
  border: 2px solid #f5f5f5;
  border-radius: 100%;
}

.btn-list {
  background-color: #f5f5f5;
  border-radius: 10px;
  padding: 10px;
  width: 850px;
}

.btn-list:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn-list .btn-item {
  color: #bdbac2;
  font-weight: 700;
  text-align: center;
  width: 250px;
  border-radius: 10px;
  padding: 15px;
}

.btn-list .btn-item:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn-list .btn-item.active {
  background-color: #fff;
  color: #007bff;
}

#files .page-body .file-card {
  position: relative;
}

#files .page-body .file-card .dropdown {
  position: absolute;
  right: 15px;
}

#files .page-body .file-card .file-info a p {
  font-weight: 700;
  color: #007bff;
}

#files .page-body .file-card .file-info a:hover {
  text-decoration: underline;
}

#files .page-body .file-card .file-info span {
  color: #bdbac2;
}

#activity .page-body .act-card {
  position: relative;
}

#activity .page-body .act-card .dropdown {
  position: absolute;
  right: 15px;
}

#activity .page-body .act-card .act-info a p {
  font-weight: 700;
  color: #212529;
}

#activity .page-body .act-card .act-info a p span {
  font-weight: 700;
  color: #007bff;
}

#activity .page-body .act-card .act-info a p span:hover {
  text-decoration: underline;
}

#activity .page-body .act-card .act-info span {
  color: #bdbac2;
}

#checklist .page-body .file-card {
  position: relative;
}

#checklist .page-body .file-card .dropdown {
  position: absolute;
  right: 15px;
}

#checklist .page-body .file-card .file-info p {
  color: #bdbac2;
}

#checklist .page-body .file-card .file-info span {
  color: #bdbac2;
}

#checklist .page-body .file-card .file-info .input-group {
  position: relative;
}

#checklist .page-body .file-card .file-info .input-group .bar {
  color: #bdbac2;
  position: absolute;
  top: 6px;
  left: 0px;
  z-index: 1;
}

#checklist .page-body .file-card .file-info .input-group .check {
  position: absolute;
  top: 13px;
  left: 35px;
  z-index: 1;
}

#checklist .page-body .file-card .file-info .input-group .form-control {
  background-color: #fff;
}

#checklist .page-body .file-card .file-info .input-group .form-control:focus {
  color: #bdbac2;
  -webkit-box-shadow: none;
          box-shadow: none;
}

#checklist #note .page-body {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#checklist #note .page-body .note-card {
  position: relative;
  width: 400px;
}

#checklist #note .page-body .note-card span {
  color: #bdbac2;
}

#checklist #note .page-body .note-card .dropdown {
  position: absolute;
  right: 15px;
  top: 17px;
}

.kanban #tasks .page-body .task-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.kanban #tasks .page-body .task-list .task-stage {
  width: 270px;
}

.kanban #tasks .page-body .task-list .task-stage .scroll-task {
  height: 450px;
  overflow: auto;
  overflow-x: hidden;
}

.kanban #tasks .page-body .task-list .task-stage .scroll-task::-webkit-scrollbar {
  width: 0 !important;
}

.kanban #tasks .page-body .task-list .task-stage .scroll-task .task-card .dropdown {
  position: absolute;
  right: 16px;
  top: -160px;
}

.kanban #tasks .page-body .task-list .task-stage .scroll-task .task-card .avatars img {
  width: 40px;
}

.kanban #tasks .page-body .task-list .task-stage .menuBtn {
  color: #fff;
  width: 80%;
  margin: auto;
  margin-top: 20px;
}

#teams .page-body {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#teams .page-body .team-card {
  width: 400px;
}

#teams .page-body .team-card .card-title {
  position: relative;
  height: 63px;
  margin-bottom: 0;
}

#teams .page-body .team-card .title {
  color: #212529;
  font-weight: 700;
}

#teams .page-body .team-card .title span {
  line-height: 74px;
  font-size: 18px;
  margin-left: 30px;
}

#teams .page-body .team-card .dropdown {
  position: absolute;
  top: 20%;
  right: 3%;
}

#teams .page-body .team-card .dropdown .dropdown-menu {
  position: absolute;
  left: -100px !important;
  text-align: center;
}

#teams .page-body .team-card .dropdown .dropdown-menu .dropdown-item {
  border-radius: 5px;
  width: 90%;
  margin: auto;
}

#teams .page-body .team-card .dropdown .dropdown-menu .dropdown-item:focus {
  background: none;
}

#teams .page-body .card-body .card-info i,
#teams .page-body .card-body .card-info span {
  padding: 4px;
}

main {
  margin: 0;
  padding-right: 30px;
  padding-left: 30px;
}

main .header .btn-list#setting {
  width: 270px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main .acc-form {
  display: none;
  width: 600px;
}

main .acc-form img {
  border-radius: 100%;
  width: 100px;
}

main #noti .noti {
  position: relative;
}

main #noti .noti .custom-switch {
  right: 16px;
  top: 10px;
  position: absolute;
}

.sign .logo img {
  width: 60px;
}

.sign .title h2 {
  font-weight: 700;
}

.sign .sign-cart .form-group {
  position: relative;
}

.sign .sign-cart .form-group .search {
  padding-left: 40px;
}

.sign .sign-cart .form-group .searchBtn {
  color: #bdbac2;
  position: absolute;
  top: 40px;
  left: 0;
}

.sign .create-link span {
  color: #bdbac2;
}

#error {
  margin: 8%;
}

#error h1 {
  color: #007bff;
  font-size: 180px;
  font-weight: 700;
}

#error span {
  color: #bdbac2;
  font-size: 30px;
}

.chat {
  width: 1105px;
}

.chat .chat-datas {
  overflow: scroll;
  background-color: #fdfdfd;
  width: 500px;
  height: 100vh;
  overflow: auto;
  overflow-x: hidden;
}

.chat .chat-datas::-webkit-scrollbar {
  width: 0 !important;
}

.chat .chat-datas .btn-list .btn-item {
  padding: 10px;
}

.chat .chat-datas #files .avatars i {
  width: 40px;
  height: 40px;
  line-height: 38px;
}

.chat .chat-datas #files .avatars img {
  width: 40px;
}

.chat .chat-datas #members .member-list {
  list-style-type: none;
}

.chat .chat-datas #members .member-list .member-item {
  position: relative;
  padding: 10px;
  border-bottom: 2px solid #fbfbfb;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.chat .chat-datas #members .member-list .member-item:hover {
  border-bottom: 2px solid #007bff;
}

.chat .chat-datas #members .member-list .member-item .member-info a p {
  color: #212529;
  margin-bottom: 0px;
  font-weight: 700;
}

.chat .chat-datas #members .member-list .member-item .member-info:hover p {
  color: #007bff;
}

.chat .chat-datas #members .member-list .member-item .member-info span {
  color: #bdbac2;
  font-weight: 400;
}

.chat .chat-datas #members .member-list .member-item .dropdown {
  position: absolute;
  right: 0;
  top: 0;
}

.chat .inbox header {
  background-color: #f9f9f9;
}

.chat .inbox header .logo-team {
  width: 50px;
  height: 50px;
  border-radius: 7px;
}

.chat .inbox header .avatars {
  margin-left: auto;
}

.chat .inbox header .inbox-title span {
  color: #bdbac2;
}

.chat .inbox .inbox-body {
  overflow-y: scroll;
  height: calc(100vh - 196px);
}

.chat .inbox .inbox-body::-webkit-scrollbar {
  width: 0 !important;
}

.chat .inbox .inbox-body .text {
  width: 350px;
  color: #bdbac2;
}

.chat .inbox .inbox-body .text p {
  background-color: #f5f5f5;
  padding: 15px;
  border-radius: 7px;
}

.chat .inbox .inbox-body .user-message {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.chat .inbox .inbox-body .user-message .text {
  text-align: right;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.chat .inbox .inbox-body .user-message .text p {
  text-align: left;
  background-color: #007bff;
  color: #fff;
}

.chat .inbox .inbox-body .user-message .avatars {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.chat .inbox footer {
  background-color: #f9f9f9;
}

.chat .inbox footer .message-area {
  position: relative;
}

.chat .inbox footer .message-area .smile-btn {
  position: absolute;
  color: #bdbac2;
  top: 30px;
  right: 126px;
}

.chat .inbox footer .message-area .send-btn {
  position: absolute;
  top: 25px;
  width: 45px;
  height: 45px;
  background-color: #007aff;
  color: white;
  right: 35px;
}

.chat .inbox footer .message-area .attech-btn {
  color: #bdbac2;
  position: absolute;
  top: 34px;
  right: 96px;
}

.chat .inbox footer .message-area .message {
  width: 90%;
}

.chat .inbox footer .message-area .message:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #f5f5f5;
}
/*# sourceMappingURL=style.css.map */