.sides .navigation .container .navbar a, .sides main #projects.page a, .sides main #tasks.page a, .sides main #members.page a {
  font-weight: 500;
  color: #bdbac2;
}

.sides .navigation .container .navbar a:hover, .sides main #projects.page a:hover, .sides main #tasks.page a:hover, .sides main #members.page a:hover {
  color: #007bff;
  text-decoration: none;
}

.sides .navigation .container .navbar hr {
  width: 200px;
  color: #fbfbfb;
  margin: 30px 0;
}

.sides main .header .head p, .sides main .header .head .progInfo i,
.sides main .header .head .progInfo span, .sides main #projects.page .page-body .project-card .card-body p, .sides main #projects.page .page-body .project-card .card-body .card-info i,
.sides main #projects.page .page-body .project-card .card-body .card-info span, .sides main #tasks.page .page-body .task-list .task-stage .task-card p, .sides main #tasks.page .page-body .task-list .task-stage .task-card i,
.sides main #tasks.page .page-body .task-list .task-stage .task-card span, .sides main #members.page .page-body .member-card .member-info p, .popup .form .desc {
  color: #bdbac2;
}

body {
  background-color: #fbfbfb;
  font-weight: 700;
  line-height: 1.7;
}

* {
  font-family: "Noto Sans", sans-serif;
}

.form-control {
  background: #f5f5f5;
  color: #bdbac2;
  border: none;
  font-size: 16px;
  font-weight: 500;
  border-radius: 6px;
}

.sides {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  height: 100vh;
}

.sides .navigation {
  width: 260px;
  overflow-y: scroll;
}

.sides .navigation::-webkit-scrollbar {
  width: 0 !important;
}

.sides .navigation .container {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

.sides .navigation .container .navbar {
  width: 260px;
  background-color: #fff;
}

.sides .navigation .container .navbar .logo {
  width: 36px;
}

.sides .navigation .container .navbar .curColor {
  position: absolute;
  top: 11px;
  left: -15px;
  font-size: small;
}

.sides .navigation .container .navbar .project {
  margin-left: 30px;
  position: relative;
}

.sides .navigation .container .navbar .searchForm {
  color: #bdbac2;
  position: relative;
  width: 200px;
}

.sides .navigation .container .navbar .searchForm .search {
  background-color: #f5f5f5;
  border: none;
  padding-left: 50px;
}

.sides .navigation .container .navbar .searchForm .searchBtn {
  position: absolute;
  top: 5px;
  left: 4px;
  color: #bdbac2;
}

.sides .navigation .container .navbar .searchForm .searchBtn:focus {
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.sides .navigation .container .navbar .menuBtn {
  width: 200px;
  padding: 10px 0;
  color: #fff;
}

.sides .navigation .container .navbar .menuBtn:hover {
  color: #fff;
  background-color: #3395ff;
  border: 1px solid #3395ff;
}

.sides .navigation .container .navbar .menuBtn:focus {
  border: 1px solid #3395ff;
}

.sides .navigation .container .navbar .menu {
  display: none;
  position: absolute;
  top: -128px;
  left: 0;
  padding: 8px;
  margin: 5px 0 0;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  width: 160px;
  z-index: -1;
}

.sides .navigation .container .navbar .menu.act {
  display: block;
  z-index: 1;
}

.sides .navigation .container .navbar .menu .menu-list {
  list-style: none;
  padding-left: 0;
}

.sides .navigation .container .navbar .onlineUser {
  position: relative;
}

.sides .navigation .container .navbar .onlineUser img {
  width: 50px;
  border-radius: 100%;
}

.sides .navigation .container .navbar .onlineUser .onlineIcon {
  position: absolute;
  color: #43b581;
  top: 30px;
  left: 40px;
  font-size: small;
}

.sides .navigation .container .navbar .dropdown-menu {
  text-align: center;
}

.sides .navigation .container .navbar .dropdown-menu .dropdown-item {
  border-radius: 5px;
  width: 90%;
  margin: auto;
}

.sides .navigation .container .navbar .dropdown-menu .dropdown-item:focus {
  background: none;
}

.sides main {
  padding: 0 106px;
  overflow: auto;
  margin: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.sides main .header .head .avatars {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  list-style: none;
}

.sides main .header .head .avatars li {
  margin-left: -10px;
}

.sides main .header .head .avatars li img {
  width: 50px;
  border: 2px solid #fbfbfb;
  border-radius: 100%;
}

.sides main .header .head .avatars li i {
  text-align: center;
  line-height: 48px;
  background-color: #f5f5f5;
  height: 50px;
  color: #bdbac2;
  width: 50px;
  border: 2px solid #fbfbfb;
  border-radius: 100%;
}

.sides main .header .head .progress {
  height: 5px;
}

.sides main .header .head .progInfo {
  margin-top: 15px;
}

.sides main .header .head .progInfo i,
.sides main .header .head .progInfo span {
  padding: 4px;
}

.sides main .header .head .progInfo .due {
  background-color: #f5f5f5;
  padding: 5px;
  border-radius: 5px;
}

.sides main .header .btn-list {
  background-color: #f5f5f5;
  border-radius: 10px;
  padding: 10px;
  width: 850px;
}

.sides main .header .btn-list:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.sides main .header .btn-list .btn-item {
  color: #bdbac2;
  font-weight: 700;
  text-align: center;
  width: 250px;
  border-radius: 10px;
  padding: 15px;
}

.sides main .header .btn-list .btn-item:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.sides main .header .btn-list .btn-item.active {
  background-color: #fff;
  color: #007bff;
}

.sides main #projects.page {
  width: 850px;
  margin: auto;
  display: none;
}

.sides main #projects.page .page-title a:hover {
  background-color: #fbfbfb;
}

.sides main #projects.page .page-title a i {
  text-align: center;
  background-color: #f5f5f5;
  height: 50px;
  color: #bdbac2;
  width: 50px;
  border: 2px solid #fbfbfb;
  border-radius: 100%;
  line-height: 48px;
}

.sides main #projects.page .page-title .filterForm {
  color: #bdbac2;
  position: relative;
  width: 200px;
}

.sides main #projects.page .page-title .filterForm .filter {
  background-color: #f5f5f5;
  border: none;
  padding-left: 50px;
}

.sides main #projects.page .page-title .filterForm .filterBtn {
  position: absolute;
  top: 5px;
  left: 4px;
  color: #bdbac2;
}

.sides main #projects.page .page-title .filterForm .filterBtn:focus {
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.sides main #projects.page .page-body {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.sides main #projects.page .page-body .project-card {
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.03);
          box-shadow: 0 0 30px rgba(0, 0, 0, 0.03);
  margin-top: 30px;
  border-radius: 7px;
  height: 200px;
  width: 400px;
  overflow: hidden;
  background-color: #fff;
}

.sides main #projects.page .page-body .project-card:hover {
  top: -10px;
  position: relative;
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 30px rgba(0, 0, 0, 0.05);
}

.sides main #projects.page .page-body .project-card .progress {
  height: 5px;
  border-radius: 0;
}

.sides main #projects.page .page-body .project-card .card-title {
  position: relative;
  height: 63px;
  margin-bottom: 0;
}

.sides main #projects.page .page-body .project-card .card-title .curColor {
  position: absolute;
  top: 35%;
  left: 7%;
  padding: 5px;
  font-size: small;
}

.sides main #projects.page .page-body .project-card .card-title .title {
  color: #212529;
  font-weight: 700;
}

.sides main #projects.page .page-body .project-card .card-title .title span {
  line-height: 74px;
  font-size: 18px;
  margin-left: 62px;
}

.sides main #projects.page .page-body .project-card .card-title .dropdown {
  position: absolute;
  top: 20%;
  right: 7%;
}

.sides main #projects.page .page-body .project-card .card-title .dropdown .dropdown-menu {
  position: absolute;
  left: -100px !important;
  text-align: center;
}

.sides main #projects.page .page-body .project-card .card-title .dropdown .dropdown-menu .dropdown-item {
  border-radius: 5px;
  width: 90%;
  margin: auto;
}

.sides main #projects.page .page-body .project-card .card-title .dropdown .dropdown-menu .dropdown-item:focus {
  background: none;
}

.sides main #projects.page .page-body .project-card .card-body .card-info i,
.sides main #projects.page .page-body .project-card .card-body .card-info span {
  padding: 4px;
}

.sides main #projects.page .page-body .project-card .card-body .card-info .members {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  list-style: none;
}

.sides main #projects.page .page-body .project-card .card-body .card-info .members li {
  margin-left: -10px;
}

.sides main #projects.page .page-body .project-card .card-body .card-info .members li img {
  width: 50px;
  border: 2px solid #fbfbfb;
  border-radius: 100%;
}

.sides main #projects.page .page-body .project-card .card-body .card-info .members li i {
  text-align: center;
  line-height: 40px;
  background-color: #f5f5f5;
  height: 40px;
  color: #bdbac2;
  width: 40px;
  border: 2px solid #fbfbfb;
  border-radius: 100%;
}

.sides main #tasks.page {
  width: 850px;
  margin: auto;
  display: none;
}

.sides main #tasks.page .page-title a:hover {
  background-color: #fbfbfb;
}

.sides main #tasks.page .page-title a i {
  text-align: center;
  background-color: #f5f5f5;
  height: 50px;
  color: #bdbac2;
  width: 50px;
  border: 2px solid #fbfbfb;
  border-radius: 100%;
  line-height: 48px;
}

.sides main #tasks.page .page-title .filterForm {
  color: #bdbac2;
  position: relative;
  width: 200px;
}

.sides main #tasks.page .page-title .filterForm .filter {
  background-color: #f5f5f5;
  border: none;
  padding-left: 50px;
}

.sides main #tasks.page .page-title .filterForm .filterBtn {
  position: absolute;
  top: 5px;
  left: 4px;
  color: #bdbac2;
}

.sides main #tasks.page .page-title .filterForm .filterBtn:focus {
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.sides main #tasks.page .page-body .task-list {
  list-style: none;
}

.sides main #tasks.page .page-body .task-list .task-stage {
  margin-top: 30px;
  background-color: #f5f5f5;
  border-radius: 10px;
}

.sides main #tasks.page .page-body .task-list .task-stage .stage {
  padding: 20px;
}

.sides main #tasks.page .page-body .task-list .task-stage .task-card {
  overflow: hidden;
  border-radius: 10px;
  background-color: #fff;
  width: 90%;
  margin: auto;
}

.sides main #tasks.page .page-body .task-list .task-stage .task-card .progress {
  height: 3px;
  border-radius: 0;
}

.sides main #tasks.page .page-body .task-list .task-stage .task-card h6 {
  font-weight: 700;
  color: #212529;
}

.sides main #tasks.page .page-body .task-list .task-stage .task-card .members {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  list-style: none;
}

.sides main #tasks.page .page-body .task-list .task-stage .task-card .members li {
  margin-left: -10px;
}

.sides main #tasks.page .page-body .task-list .task-stage .task-card .members li img {
  width: 40px;
  border: 2px solid #fbfbfb;
  border-radius: 100%;
}

.sides main #tasks.page .page-body .task-list .task-stage .task-card .members li i {
  text-align: center;
  line-height: 40px;
  background-color: #f5f5f5;
  height: 40px;
  color: #bdbac2;
  width: 40px;
  border: 2px solid #fbfbfb;
  border-radius: 100%;
}

.sides main #tasks.page .page-body .task-list .task-stage .task-card i,
.sides main #tasks.page .page-body .task-list .task-stage .task-card span {
  padding: 4px;
}

.sides main #members.page {
  width: 850px;
  margin: auto;
  display: none;
}

.sides main #members.page .page-title a:hover {
  background-color: #fbfbfb;
}

.sides main #members.page .page-title a i {
  text-align: center;
  background-color: #f5f5f5;
  height: 50px;
  color: #bdbac2;
  width: 50px;
  border: 2px solid #fbfbfb;
  border-radius: 100%;
  line-height: 48px;
}

.sides main #members.page .page-title .filterForm {
  color: #bdbac2;
  position: relative;
  width: 200px;
}

.sides main #members.page .page-title .filterForm .filter {
  background-color: #f5f5f5;
  border: none;
  padding-left: 50px;
}

.sides main #members.page .page-title .filterForm .filterBtn {
  position: absolute;
  top: 5px;
  left: 4px;
  color: #bdbac2;
}

.sides main #members.page .page-title .filterForm .filterBtn:focus {
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.sides main #members.page .page-body {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.sides main #members.page .page-body .member-card {
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.03);
          box-shadow: 0 0 30px rgba(0, 0, 0, 0.03);
  margin-top: 30px;
  width: 256px;
  border-radius: 7px;
  height: 306px;
  background-color: #fff;
}

.sides main #members.page .page-body .member-card .member-photo img {
  width: 100px;
  border-radius: 100%;
}

.sides main #members.page .page-body .member-card .member-info h6 {
  font-weight: 700;
  color: #212529;
}

.sides main #members.page .page-body .member-card .icons {
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.sides main #members.page .page-body .member-card .icons li i {
  text-align: center;
  line-height: 40px;
  background-color: #f5f5f5;
  height: 40px;
  color: #bdbac2;
  width: 40px;
  border: 2px solid #f5f5f5;
  border-radius: 100%;
}

.sides main #members.page .page-body .member-card:hover {
  top: -10px;
  position: relative;
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 30px rgba(0, 0, 0, 0.05);
}

.popup {
  padding: 0;
  border-radius: 10px;
}

.popup .form {
  border-radius: 10px;
  margin: auto;
  width: 600px;
  background: #fff;
}

.popup .form label {
  margin-top: 25px;
}

.popup .form .createBtn {
  width: 100%;
  padding: 10px 0;
  color: #fff;
}

.popup .form .createBtn:hover {
  color: #fff;
  background-color: #3395ff;
  border: 1px solid #3395ff;
}

.popup .form .createBtn:focus {
  border: 1px solid #3395ff;
}

.popup .form .popup-head {
  background-color: #fbfbfb;
  position: relative;
  top: 0;
}

.popup .form .custom-control-label::before {
  left: -30px;
  top: -30px;
  height: 18px;
  width: 34px;
}

.popup .form .custom-control-label::after {
  top: -30px;
  left: -27px;
  width: 17px;
  height: 17px;
}

.popup .form .warning {
  border-radius: 10px;
  padding: 10px;
  background-color: #fbfbfb;
}

.popup .form .warning i {
  color: #c81818;
  padding: 5px;
}

.popup .form .warning span {
  padding: 5px;
}
/*# sourceMappingURL=style.css.map */