%a {
  font-weight: 500;
  color: $p_color;
  &:hover {
    color: $main_color;
  }
}
%hr {
  width: 200px;
  color: $bg_color;
  margin: 30px 0;
}
%desc {
  color: $p_color;
}

body {
  background-color: $bg_color;
  font-weight: 600;
  line-height: 1.7;
}
* {
  font-family: $main_font;
}
.form-control {
  background: #f5f5f5;
  color: #bdbac2;
  border: none;
  font-size: 16px;
  font-weight: 500;
  border-radius: 6px;
}
