.sides {
  display: flex;
  flex-wrap: nowrap;
  height: 100vh;

  .navigation {
    &::-webkit-scrollbar {
      width: 0 !important;
    }
    width: 260px;
    overflow-y: scroll;
    .container {
      position: sticky;
      top: 0;
      overflow-x: hidden;
      overflow-y: auto;

      .navbar {
        width: 260px;
        background-color: #fff;
        .logo {
          width: 36px;
        }
        a {
          @extend %a;
        }
        .curColor {
          position: absolute;
          top: 11px;
          left: -15px;
          font-size: small;
        }
        .project {
          margin-left: 30px;
          position: relative;
        }
        .searchForm {
          color: $p_color;
          position: relative;
          width: 200px;
          .search {
            background-color: $elem_color;
            border: none;
            padding-left: 50px;
          }
          .searchBtn {
            position: absolute;
            top: 5px;
            left: 4px;
            color: $p_color;
            &:focus {
              border: none;
              box-shadow: none;
            }
          }
        }
        .menuBtn {
          width: 200px;
          padding: 10px 0;
          color: #fff;
          &:hover {
            color: #fff;
            background-color: lighten($color: $main_color, $amount: 10);
            border: 1px solid lighten($color: $main_color, $amount: 10);
          }
          &:focus {
            border: 1px solid lighten($color: $main_color, $amount: 10);
          }
        }
        .menu {
          display: none;
          position: absolute;
          top: -128px;
          left: 0;
          padding: 8px;
          margin: 5px 0 0;
          background-color: #fff;
          border: 1px solid rgba(0, 0, 0, 0.15);
          border-radius: 8px;
          width: 160px;
          z-index: -1;
          &.act {
            display: block;
            z-index: 1;
          }
          .menu-list {
            list-style: none;
            padding-left: 0;
          }
        }
        hr {
          @extend %hr;
        }
        .onlineUser {
          position: relative;

          img {
            width: 50px;
            border-radius: 100%;
          }
          .onlineIcon {
            position: absolute;
            color: #43b581;
            top: 30px;
            left: 40px;
            font-size: small;
          }
        }
        .dropdown-menu {
          text-align: center;
          .dropdown-item {
            border-radius: 5px;
            width: 90%;
            margin: auto;
            &:focus {
              background: none;
            }
          }
        }
      }
    }
  }
  main {
    padding: 0 106px;
    overflow: auto;
    margin: auto;
    margin-top: 0;
    margin-bottom: 0;
    .header {
      .head {
        p {
          @extend %desc;
        }
        .avatars {
          display: inline-flex;
          list-style: none;
          li {
            margin-left: -10px;
            img {
              width: 50px;
              border: 2px solid $bg_color;
              border-radius: 100%;
            }
            i {
              text-align: center;
              line-height: 48px;
              background-color: $elem_color;
              height: 50px;
              color: $p_color;
              width: 50px;
              border: 2px solid $bg_color;
              border-radius: 100%;
            }
          }
        }
        .progress {
          height: 5px;
        }
        .progInfo {
          margin-top: 15px;
          i,
          span {
            padding: 4px;
            @extend %desc;
          }
          .due {
            background-color: $elem_color;
            padding: 5px;
            border-radius: 5px;
          }
        }
      }
      .btn-list {
        background-color: $elem_color;
        border-radius: 10px;
        padding: 10px;
        width: 850px;
        &:focus {
          box-shadow: none;
        }
        .btn-item {
          color: $p_color;
          font-weight: 700;
          text-align: center;
          width: 250px;
          border-radius: 10px;
          padding: 15px;
          &:focus {
            box-shadow: none;
          }
          &.active {
            background-color: #fff;
            color: $main_color;
          }
        }
      }
    }
    #projects {
      &.page {
        width: 850px;
        margin: auto;
        display: none;
        a {
          @extend %a;
        }
        .page-title {
          a {
            &:hover {
              background-color: $bg_color;
            }
            i {
              text-align: center;
              background-color: $elem_color;
              height: 50px;
              color: $p_color;
              width: 50px;
              border: 2px solid $bg_color;
              border-radius: 100%;
              line-height: 48px;
            }
          }
          .filterForm {
            color: $p_color;
            position: relative;
            width: 200px;
            .filter {
              background-color: $elem_color;
              border: none;
              padding-left: 50px;
            }
            .filterBtn {
              position: absolute;
              top: 5px;
              left: 4px;
              color: $p_color;
              &:focus {
                border: none;
                box-shadow: none;
              }
            }
          }
        }
        .page-body {
          flex-wrap: wrap;
          .project-card {
            box-shadow: 0 0 30px rgba(0, 0, 0, 0.03);
            margin-top: 30px;
            border-radius: 7px;
            height: 200px;
            width: 400px;
            overflow: hidden;
            background-color: #fff;

            &:hover {
              top: -10px;
              position: relative;
              box-shadow: 0 0 30px rgba(0, 0, 0, 0.05);
            }
            .progress {
              height: 5px;
              border-radius: 0;
            }
            .card-title {
              position: relative;
              height: 63px;
              margin-bottom: 0;
              .curColor {
                position: absolute;
                top: 35%;
                left: 7%;
                padding: 5px;
                font-size: small;
              }
              .title {
                color: $t_color;
                font-weight: 700;
                span {
                  line-height: 74px;
                  font-size: 18px;
                  margin-left: 62px;
                }
              }

              .dropdown {
                position: absolute;
                top: 20%;
                right: 7%;
                .dropdown-menu {
                  position: absolute;
                  left: -100px !important;
                  text-align: center;
                  .dropdown-item {
                    border-radius: 5px;
                    width: 90%;
                    margin: auto;
                    &:focus {
                      background: none;
                    }
                  }
                }
              }
            }
            .card-body {
              p {
                @extend %desc;
              }
              .card-info {
                i,
                span {
                  padding: 4px;
                  @extend %desc;
                }

                .members {
                  display: inline-flex;
                  list-style: none;
                  li {
                    margin-left: -10px;
                    img {
                      width: 50px;
                      border: 2px solid $bg_color;
                      border-radius: 100%;
                    }
                    i {
                      text-align: center;
                      line-height: 40px;
                      background-color: $elem_color;
                      height: 40px;
                      color: $p_color;
                      width: 40px;
                      border: 2px solid $bg_color;
                      border-radius: 100%;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    #tasks {
      &.page {
        width: 850px;
        margin: auto;
        display: none;
        a {
          @extend %a;
        }
        .page-title {
          a {
            &:hover {
              background-color: $bg_color;
            }
            i {
              text-align: center;
              background-color: $elem_color;
              height: 50px;
              color: $p_color;
              width: 50px;
              border: 2px solid $bg_color;
              border-radius: 100%;
              line-height: 48px;
            }
          }
          .filterForm {
            color: $p_color;
            position: relative;
            width: 200px;
            .filter {
              background-color: $elem_color;
              border: none;
              padding-left: 50px;
            }
            .filterBtn {
              position: absolute;
              top: 5px;
              left: 4px;
              color: $p_color;
              &:focus {
                border: none;
                box-shadow: none;
              }
            }
          }
        }
        .page-body {
          .task-list {
            list-style: none;
            .task-stage {
              margin-top: 30px;
              background-color: $elem_color;
              border-radius: 10px;
              .stage {
                padding: 20px;
              }
              .task-card {
                overflow: hidden;
                border-radius: 10px;
                background-color: #fff;
                width: 90%;
                margin: auto;
                .progress {
                  height: 3px;
                  border-radius: 0;
                }
                p {
                  @extend %desc;
                }
                h6 {
                  font-weight: 700;
                  color: $t_color;
                }
                .members {
                  display: inline-flex;
                  list-style: none;
                  li {
                    margin-left: -10px;
                    img {
                      width: 40px;
                      border: 2px solid $bg_color;
                      border-radius: 100%;
                    }
                    i {
                      text-align: center;
                      line-height: 40px;
                      background-color: $elem_color;
                      height: 40px;
                      color: $p_color;
                      width: 40px;
                      border: 2px solid $bg_color;
                      border-radius: 100%;
                    }
                  }
                }
                i,
                span {
                  padding: 4px;
                  @extend %desc;
                }
              }
            }
          }
        }
      }
    }
    #members {
      &.page {
        width: 850px;
        margin: auto;
        display: none;
        a {
          @extend %a;
        }
        .page-title {
          a {
            &:hover {
              background-color: $bg_color;
            }
            i {
              text-align: center;
              background-color: $elem_color;
              height: 50px;
              color: $p_color;
              width: 50px;
              border: 2px solid $bg_color;
              border-radius: 100%;
              line-height: 48px;
            }
          }
          .filterForm {
            color: $p_color;
            position: relative;
            width: 200px;
            .filter {
              background-color: $elem_color;
              border: none;
              padding-left: 50px;
            }
            .filterBtn {
              position: absolute;
              top: 5px;
              left: 4px;
              color: $p_color;
              &:focus {
                border: none;
                box-shadow: none;
              }
            }
          }
        }
        .page-body {
          flex-wrap: wrap;
          .member-card {
            box-shadow: 0 0 30px rgba(0, 0, 0, 0.03);
            margin-top: 30px;
            width: 256px;
            border-radius: 7px;
            height: 306px;
            background-color: #fff;
            
            .member-photo {
              img {
                width: 100px;
                border-radius: 100%;
              }
            }
            .member-info {
              p {
                @extend %desc;
              }
              h6 {
                font-weight: 700;
                color: $t_color;
              }
            }
            .icons {
              padding: 0;
              list-style: none;
              display: flex;
              justify-content: space-evenly;
              li {
                i {
                  text-align: center;
                  line-height: 40px;
                  background-color: $elem_color;
                  height: 40px;
                  color: $p_color;
                  width: 40px;
                  border: 2px solid $elem_color;
                  border-radius: 100%;
                }
              }
            }
            &:hover {
              top: -10px;
              position: relative;
              box-shadow: 0 0 30px rgba(0, 0, 0, 0.05);
            }
          }
        }
      }
    }
  }
}
