.popup {
  padding: 0;
  border-radius: 10px;
  .form {
    border-radius: 10px;
    margin: auto;
    width: 600px;
    background: #fff;
    label {
      margin-top: 25px;
    }
    .createBtn {
      width: 100%;
      padding: 10px 0;
      color: #fff;
      &:hover {
        color: #fff;
        background-color: lighten($color: $main_color, $amount: 10);
        border: 1px solid lighten($color: $main_color, $amount: 10);
      }
      &:focus {
        border: 1px solid lighten($color: $main_color, $amount: 10);
      }
      
    }
    .popup-head {
      background-color: $bg_color;
      position: relative;
      top: 0;
    }
    .desc {
      @extend %desc;
    }
    .custom-control-label {
      &::before {
        left: -30px;
        top: -30px;
        height: 18px;
        width: 34px;
      }
      &::after {
        top: -30px;
        left: -27px;
        width: 17px;
        height: 17px;
      }
    }
    .warning {
      border-radius: 10px;
      padding: 10px;
      background-color: $bg_color;
      i {
        color: rgb(200, 24, 24);
        padding: 5px;
      }
      span {
        padding: 5px;
      }
    }
  }
}
