#checklist {
  .page-body {
    .file-card {
      @extend %card;
      position: relative;
      .dropdown {
        position: absolute;
        right: 15px;
      }
      .file-info {
        p {
          color: $p_color;
        }
        span {
          color: $p_color;
        }
      }
      .input-group-text {
        background-color: #fff;
        border: none;
      }
      .form-control {
        background-color: #fff;
        &:focus {
          color: $p_color;
          box-shadow: none;
        }
      }
    }
  }
}
