.chat {
  width: 1105px;
  .chat-datas {
    overflow: scroll;
    background-color: #fdfdfd;
    width: 500px;
    height: 100vh;
    overflow: auto;
    overflow-x: hidden;
    &::-webkit-scrollbar {
      width: 0 !important;
    }
    .btn-list {
      .btn-item {
        padding: 10px;
      }
    }
    #files {
      .avatars {
        i {
          width: 40px;
          height: 40px;
          line-height: 38px;
        }
        img {
          width: 40px;
        }
      }
    }
    #members {
      .member-list {
        list-style-type: none;
        .member-item {
          position: relative;
          padding: 10px;
          border-bottom: 2px solid #fbfbfb;
          transition: all 0.4s;
          &:hover {
            border-bottom: 2px solid $main_color;
          }
          .member-info {
            a {
              p {
                color: $t_color;
                margin-bottom: 0px;
                font-weight: 700;
              }
            }
            &:hover{
              p{
                color: $main_color;
              }
            }
            span {
              color: $p_color;
              font-weight: 400;
            }
          }
          .dropdown {
            position: absolute;
            right: 0;
            top: 0;
          }
        }
      }
    }
  }
  .inbox {
    header {
      background-color: #f9f9f9;
      .logo-team {
        width: 50px;
        height: 50px;
        border-radius: 7px;
      }
      .avatars {
        margin-left: auto;
      }
      .inbox-title {
        span {
          color: $p_color;
        }
      }
    }
    .inbox-body {
      &::-webkit-scrollbar {
        width: 0 !important;
      }
      overflow-y: scroll;
      height: calc(100vh - #{196px});
      .text {
        width: 350px;
        color: $p_color;
        p {
          background-color: $elem_color;
          padding: 15px;
          border-radius: 7px;
        }
      }

      .user-message {
        justify-content: flex-end;
        .text {
          text-align: right;
          order: 1;
          p {
            text-align: left;
            background-color: $main_color;
            color: #fff;
          }
        }
        .avatars {
          order: 2;
        }
      }
    }
    footer {
      background-color: #f9f9f9;
      .message-area {
        position: relative;
        .smile-btn {
          position: absolute;
          color: $p_color;
          top: 30px;
          right: 126px;
        }
        .send-btn {
          position: absolute;
          top: 25px;
          width: 45px;
          height: 45px;
          background-color: #007aff;
          color: white;
          right: 35px;
        }
        .attech-btn {
          color: $p_color;
          position: absolute;
          top: 34px;
          right: 96px;
        }
        .message{
          width:90%;
          &:focus{
            box-shadow: none;
            background-color: $elem-color;
          }
        }
      }
    }
  }
}
