#teams {
  .page-body {
    flex-wrap: wrap;
    .team-card {
      @extend %card;
      @extend %card_hover;

      width: 400px;

      .card-title {
        position: relative;
        height: 63px;
        margin-bottom: 0;
      }
      .title {
        color: $t_color;
        font-weight: 700;
        span {
          line-height: 74px;
          font-size: 18px;
          margin-left: 30px;
        }
      }
      .dropdown {
        position: absolute;
        top: 20%;
        right: 7%;
        .dropdown-menu {
          position: absolute;
          left: -100px !important;
          text-align: center;
          .dropdown-item {
            border-radius: 5px;
            width: 90%;
            margin: auto;
            &:focus {
              background: none;
            }
          }
        }
      }
    }
    .card-body {
      p {
        @extend %desc;
      }
      .card-info {
        i,
        span {
          padding: 4px;
          @extend %desc;
        }
      }
    }
  }
}
