#teams {
  .page-body {
    flex-wrap: wrap;
    .team-card {
      width:400px;    
      box-shadow: 0 0 30px rgba(0, 0, 0, 0.03);
      margin-top: 30px;
      border-radius: 7px;
      padding: 30px;
      background-color: #fff;
position: relative;
      &:hover {
        top: -10px;
        position: relative;
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.05);
      }
      .dropdown{
        position: absolute;
        top: 16px;
        right: 13px;
      }
      .title {
        color: $t_color;
        font-weight: 700;
        p {
          font-size: 18px;
          padding-bottom: 15px;
          margin: 0;
        }
      }

      span {
        color:$p_color;
}
    }
  }
}
