#teams {
  .page-body {
    flex-wrap: wrap;
    .team-card {
      position: relative;
      @extend %card;
      @extend %card_hover;
      width: 260px;
      .card-title {
        position: relative;
        height: 63px;
        margin-bottom: 0;
      }
      .title {
        color: $t_color;
        font-weight: 700;
        span {
          line-height: 74px;
          font-size: 18px;
          margin-left: 30px;
        }
      }
      .dropdown {
        position: absolute;
        top: 20%;
        right: 3%;
        .dropdown-menu {
          position: absolute;
          left: -100px !important;
          text-align: center;
          .dropdown-item {
            border-radius: 5px;
            width: 90%;
            margin: auto;
            &:focus {
              background: none;
            }
          }
        }
      }
      .goto-chat{
        
        line-height: 45px;
        width: 50px;
        height: 50px;
        border-radius: 100%;
        border: 1px solid $main_color;
        position: absolute;
        bottom: 12%;
        right: 6%;
        background-color: #fff;
        a{
          background: none;
          padding: 0 12px;
        }
        img{
          width: 24px;
        }
      }
    }
    .card-body {
      padding-top: 100px !important;
      p {
        @extend %desc;
      }
      .card-info {
        .avatars{
          padding-left: 20px;
          margin-bottom: 7px !important;
        }
        i,
        span {
          padding: 4px;
          @extend %desc;
        }
      }
    }
  }
}
